.projects {
  width: 85%;
  margin: 3rem auto;

  &_sorting {
    margin-bottom: 4rem;
    h1 {
      @include font($h1, 500, 120%);
      margin-bottom: 1rem;
    }
    ul {
      list-style-type: none;
      @include list-flex;
      li {
        margin-right: 0.5rem;
      }
    }
  }

  &_display {
    h3 {
      @include font($h3, 400);
      margin-bottom: 1em;
    }
    .container {
      @include list-flex;
    
      .thumb {
        margin-right: 2rem;
        margin-bottom: 1rem;
        width: 300px;
        height: 250px;
        border-radius: 10px;
        background-color: lightgray;
        img {
          width: 300px;
          height: 200px;
          object-fit: cover;
        }
        .project_info {
          margin-left: 5%;
          text-align: left;
          margin-top: 5%;
          p {
            @include font($p, 400);
            background-color: lightgray;
          }
        }
      }
    }
  }
}
