@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: black;
  //background-color: rgb(8, 8, 8);
}

$roboto: "Roboto";

$h1: 3em;
$h2: 2em;
$h3: 1.5em;
$p: 1.2em;
