.overview {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
    align-content: center;
    gap: 20px;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 80px;
    .overview_image_portrait {
        height: #{$l-portrait}px;
    }

    .medium_portrait {
        width: #{$m-portrait}px;
    }

    .small_portrait {
        width: #{$s-portrait}px;
    }
    .large_wide {
        margin-top: 100px;
        width: #{$l-wide}px;
    }
    .medium_wide {
        width: #{$m-wide}px;
    }
    .small_wide {
        width: #{$s-wide}px;
    }
}

@include breakpoint() {
    .overview {
        .overview_image_portrait,
        .medium_portrait,
        .small_portrait {
            width: #{$l-portrait * 0.7}px;
        }

        .large_wide,
        .medium_wide,
        .small_wide {
            width: #{$s-wide}px;
        }
    }
}
