.team {
    &_info {
        display: flex;
        .list {
            width: 600px;
            .list_object {
                margin-right: 20px;
                border-radius: 5px;
                margin-bottom: 1.5em;
                display: flex;
                .topic {
                    @include font($p, 500);
                    width: 90px;
                }
                .key {
                    @include font(1em, 300);
                }
                li {
                    @include list-item($p, 100);
                    margin-right: 0.5em;
                    margin-bottom: 0.5em;
                    padding: 5px 5px;
                    float: left;
                }
            }
        }

        .media {
            width: 100px;
            &_title {
                @include font($p, 500);
                margin-bottom: 1em;
                width: 100px;
            }
            ul li {
                @include list-item($p, 0.5em);
                margin: 0;
                button {
                    @include button-main;
                    margin-bottom: 10px;
                }
            }
        }
    }
}
@include breakpoint() {
    .team {
        &_info {
            display: block;
            .list {
                align-items: start;
                .topic {
                    width: 100px;
                }
                .key {
                    width: 200px;
                }
            }
        }
    }
    .media {
        float: left;
        width: 100px;
        margin: 2em 0em;
    }
}
