.team {
    &_info {
        float: left;
        margin-bottom: 50px;
        .list {
            .item {
                float: left;
                width: 90px;
            }
            .key {
                width: 870px;
            }
            li {
                @include list-item($p, 1em);
            }
        }
    }

    .media {
        &_title {
            width: 100%;
            float: left;
            @include font($p, 500);
            margin-bottom: 1em;
        }
        ul li {
            @include list-item($p, 0.5em);
            margin: 0;
            button {
                @include button-main;
                margin-bottom: 10px;
            }
        }
    }
}
@include breakpoint() {
    .team {
        &_info {
            margin-bottom: 20px;
            .list {
                .key {
                    margin-bottom: 20px;
                    width: 250px;
                    float: left;
                }
                li {
                    @include list-item($p, 0.5em);
                }
            }
        }
    }
    .media {
        float: left;
        width: 100px;
        margin-bottom: 30px;
    }
}
