.team {
    &_info {
        margin-bottom: 50px;
        .list {
            columns: 2;
            column-gap: 20em;
            div {
                margin-bottom: 3em;
                .item {
                    float: left;
                    width: 90px;
                }
                .key {
                    display: inline-block;
                    columns: 2;
                    width: 350px;
                }
                li {
                    @include list-item($p, 1em);
                    display: inline-block;
                    margin: 0.25em 0.5em;
                }
            }
        }
    }

    .media {
        margin-bottom: 2em;
        &_title {
            width: 100%;
            float: left;
            @include font($p, 500);
            margin-bottom: 1em;
        }
        ul li {
            @include list-item($p, 0.5em);
            margin: 0;
            button {
                @include button-main;
                margin-bottom: 10px;
            }
        }
    }
}
@include breakpoint() {
    .team {
        &_info {
            margin-bottom: 1em;
            .list {
                .key {
                    margin-bottom: 20px;
                    width: 200px;
                    float: left;
                }
                li {
                    @include list-item($p, 0.5em);
                }
            }
        }
    }
    .media {
        float: left;
        width: 100px;
        margin-bottom: 4em;
    }
}
