@import "_functions";

@mixin font($size, $weight, $height: 100%) {
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
}

@mixin button-main {
  border-radius: $br;
  border: 2px solid rgb(92, 92, 92);
  padding: 5px 10px;
  font-size: 1em;
  a {
    text-decoration: none;
  }
  &:hover {
    border: 2px solid rgb(90, 90, 90);
  }
}

@mixin list-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

@mixin list-item($fonts-size, $margin-bottom) {
  font-size: $fonts-size;
  list-style-type: none;
  margin-bottom: $margin-bottom;
}

@mixin breakpoint() {
  @media screen and (max-width: 768px) {
    @content;
  }
}
