//Typo
$h1: 4em;
$h2: 2em;
$h3: 1.4em;
$h4: 1.2em;
$p: 1.1em;

//Button
$br: 5px;

//btn-state-active
/// @type Color
$btn-state-active: rgb(90, 90, 90) !default;

//btn-state-inactive
/// @type Color
$btn-state-inactive: rgb(200, 200, 200) !default;

//Background
/// @type Color
$bg-color: #ffffff;

//Text default
/// @type Color
$text-color: rgb(0, 0, 0) !default;

//Width
$main-width: 1200;
$content-width: $main-width * 0.8;

//Images 
///Portrait
$l-portrait: 400;
$m-portrait: $l-portrait * 0.75;
$s-portrait: $l-portrait * 0.6;
///Wide
$l-wide: $content-width;
$m-wide: 800;
$s-wide: 390;

$breakpoints: (
    "desktop": 1366px,
    "mobile": 768px,
)!default;